* {
  /*universal selector*/
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  /* background-image: url(./spectrum-flashes-coloured-light_23-2151792456.avif);
  background-repeat: no-repeat;
  background-size: cover; */

  background: linear-gradient(45deg, black, yellow); 
  /* background: conic-gradient(red, yellow, green, blue, red); */
}

.CheckVisibility > #firstVis {
  background-color: lightblue;
  visibility: hidden;
}

.CheckDisplayNone > #firstDis {
  display: none;
}

h1,
h2,
h3 {
  /*Group Selector*/
  color: blue;
  font-size: large;
  margin-left: 30px;
}

div > div > p {
  background-color: aqua;
}

div > p {
  /*Child selector --- Must be direct child*/
  background-color: black;
  color: blue;
}
div p {
  /*Descendant selector --- Can be direct or nested*/
  background-color: blueviolet;
}

p {
  color: red;
  font-size: 35px;
}

/**** Pseudo Selectors ***/
.btn:active {
  color: aqua;
}
.btn {
  background-color: cadetblue;
  font-size: 40px;
  margin: 20px;
  padding: 8px;
  border-radius: 20px;
  cursor: pointer;
}
.btn:hover {
  font-size: 41px;
}

/* n-th child pseudo selector */
#myDiv > :nth-child(2) {
  /*or first-child or last-child*/
  color: brown;
  border: 2px solid red;
  padding: 5px;
}
